.app {
  background-color: black;
  background-image: url('swbackground.png');
  background-position: center;
  background-size: cover;
  height: 140vh;
  width: 100vw;
}

.project-logo {
  height: 950px;
  position: absolute;
  right: 30%;
  top: -217px;
  width: 950px;
}

.app-section {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  margin: 10px 30px;
  padding: 10px;
  position: absolute;
  top: 691px;
}
